<div id="product_widget_{{ product.id }}" class="card mb-4 box-shadow">
    <img class="card-img-top" src="{{ product.img }}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title text-danger">{{ product.price }}{{ product.currencySymbol }}</h5>
        <p class="card-text">{{ product.name }}</p>
    </div>
    <div class="card-footer">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

            {% if view == 'wishlist' %}
                <small class="text-muted floa">
                    <i id="wish_ico_{{ product.id }}" onclick="makeAjaxCall('{{ path('ajax_delete_wishlist_product', {'wishlist':app.user.wishlist.id, 'product': product.id}) }}', 'DELETE').then(processRemoveWishlistResponse, errorHandler);" class="material-icons">delete_outline</i>
                </small>
            {% elseif view == 'catalog' %}
                    {% if product in app.user.wishlist.products %}
                        <small class="text-muted">
                            <i id="wish_ico_{{ product.id }}" onclick="makeAjaxCall('{{ path('ajax_delete_wishlist_product', {'wishlist':app.user.wishlist.id, 'product': product.id}) }}', 'DELETE').then(processDeleteWishlistResponse, errorHandler);" class="material-icons active">favorite_border</i>
                        </small>
                    {% else %}
                        <small class="text-muted">
                            <i id="wish_ico_{{ product.id }}" onclick="makeAjaxCall('{{ path('ajax_add_wishlist_product', {'wishlist':app.user.wishlist.id, 'product': product.id}) }}', 'POST').then(processAddWishlistResponse, errorHandler);" class="material-icons">favorite_border</i>
                        </small>
                    {% endif %}
            {% endif %}
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">
                <small class="text-muted">
                    <i class="material-icons">favorite_border</i>
                </small>
            </a>
        {% endif %}
    </div>
</div>

