{% extends 'base.html.twig' %}

{% block body %}

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Share it!</h4>
        <p>Share this wishlist with your friends. Send them the next link :</p>
        <input class="form-control" readonly value="{{ absolute_url(path('friend_wishlist', {'friend':app.user.id})) }}"/>
    </div>

    {% set products = app.user.wishlist.products %}
    {% for row in products|batch(3) %}

        <div class="card-deck">
            {% for product in row %}
                <div class="col-md-4" id="product_container_{{ product.id }}">

                    {{ include('@App/Widgets/product.html.twig', {'view':'wishlist'}) }}

                </div>
            {% endfor %}
        </div>

    {% endfor %}
    <script>

        function processRemoveWishlistResponse(response){
            var product = response['data']['product'];
            var widget = $('#product_container_'+product);
            widget.remove();
            alert(response['message']);
        }

    </script>

{% endblock %}

{% block stylesheets %}

{% endblock %}