{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-xs-12">
        {{ pagination.getTotalItemCount }} items found.
    </div>

    <div class="col-xs-12 form-group">
        <span>Order By:</span>
        <span class="{% if pagination.isSorted('name') %}font-weight-bold{% endif %}">{{ knp_pagination_sortable(pagination, 'Title', 'name') }}</span>
        <span class="{% if pagination.isSorted('price') %}font-weight-bold{% endif %}">{{ knp_pagination_sortable(pagination, 'Price', 'price') }}</span>
    </div>


    {% for row in pagination|batch(3) %}
        <div class="card-deck">
    {% for product in row %}
        <div id="product_container_{{ product.id }}" class="col-md-4">
            {{ include('@App/Widgets/product.html.twig', {'view':'catalog'}) }}
        </div>
    {% endfor %}
        </div>

    {% endfor %}


    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <script>

        function processAddWishlistResponse(response){
            var product = response['data']['product'];
            var url = response['data']['delete_url'];
            var ico = $('#wish_ico_'+product);
            ico.addClass('active');
            ico.attr("onclick", "makeAjaxCall('"+url+"', 'DELETE').then(processDeleteWishlistResponse, errorHandler);");
            alert(response['message']);
        }

        function processDeleteWishlistResponse(response){
            var product = response['data']['product'];
            var url = response['data']['add_url'];
            var ico = $('#wish_ico_'+product);
            ico.removeClass('active');
            ico.attr("onclick", "makeAjaxCall('"+url+"', 'POST').then(processAddWishlistResponse, errorHandler);");
            alert(response['message']);
        }

    </script>

{% endblock %}

{% block stylesheets %}

{% endblock %}